/**
 * @file
 * CSS for the Election module.
 */

/* Ballot paper */
#election-vote-form #edit-clear-form {
  float: right;
}
.election-ballot-row td {
  padding: 10px;
}
.election-ballot-item {
  font-size: 1.1em;
}
.election-ballot-row .form-item {
  margin: 0;
  padding: 0;
}

/* Candidate views */
.view-election-candidates h3 {
  margin-top: 1.75em;
}
.election-candidate-row {
  margin: 1em;
}
.election-candidate-row {
  margin: 1em;
}
.election-candidate-name {
  font-size: 1.1em;
}
.election-candidate-random-order-note {
  font-style: oblique;
}

/* Election page */
.election-posts,
.election-candidates {
  clear: both;
}

/* Election vote button */
.election-vote-button {
  float: right;
}
.election-vote-button a {
  background-color: #56ff56;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #222222;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}
.election-vote-button a:hover,
.election-vote-button a:active {
  border-color: #555555;
  color: #222222;
  text-decoration: none;
}
