/**
 * @file
 * CSS for the Election module.
 */

/* Ballot paper */
#election-vote-form #edit-clear-form {
  float: right;
}
.election-ballot-row td {
  padding: 10px;
}
.election-ballot-item {
  font-size: 1.1em;
}
.election-ballot-row .form-item {
  margin: 0;
  padding: 0;
}

/* Candidate views */
.view-election-candidates h3 {
  margin-top: 1.75em;
}
.election-candidate-row {
  margin: 1em;
}
.election-candidate-row {
  margin: 1em;
}
.election-candidate-name {
  font-size: 1.1em;
}
.election-candidate-random-order-note {
  font-style: oblique;
}

/* Election page */
.election-posts, .election-candidates {
  clear: both;
}
