/**
 * @file
 * CSS for the Election module.
 */

/* Ballot paper */
.election-candidate-ballot-paper {
  font-size: 1.1em;
}
.election-candidate-ballot-row td {
  padding: 10px;
}
.election-candidate-ballot-row .form-item {
  margin: 0;
  padding: 0;
}

/* Candidate views */
.election-candidate-row {
  margin: 1em;
}
.election-candidate-name {
  font-size: 1.1em;
}
.election-candidate-random-order-note {
  font-style: oblique;
}
